{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "printWidth": 70,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "embeddedLanguageFormatting": "auto"
}
